.gameControls {
  position: fixed;
  bottom: 0;
  left: 1;
  right: 0;
  z-index: var(--z-game-controls);
  display: flex;
  text-align: center;
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  justify-content: center;
  gap: 0rem;
  transform: translateZ(0);
  will-change: transform;
}

/* .gameFinished {
  text-align: center;
  margin-top: 0.5rem;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  max-width: 27rem;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */