/* cardSetSelector.module.css */


.cardSetSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
  margin-top: 10px;
}

.cardSetSelector h2 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.cardSetSelector button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #00a038;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, background-image 0.3s ease;
}

.cardSetSelector button:hover {
  background-image: linear-gradient(45deg, #00a038, #6be28c);
  animation: gradientAnimation 2s infinite;
}

.cardSetSelector button:active {
  background-color: #008040;
}

@keyframes gradientAnimation {
  0% {
    background-position: 10% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}