/* app-module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Занимает всю высоту экрана */
  width: 100%; /* Занимает всю ширину экрана */
  padding: 20px;
  text-align: center;
  box-sizing: border-box; /* Учитывает padding в общей ширине и высоте */
}

.buttonContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.gameFinished {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

